<html class='page'>
  <head>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  </head>
  <body>
    <header class='header'>
    <h1> Welcome <%=@user.name%> </h1>
    <form action='/log_out' method='post'>
      <input type='submit' value='Log Out' class='button'/>
    </form>
</header>
    <div class="big_div">
      <h1>Imm's Inns</h1></br>
      <a href='/property/new' class='button'>List a New Property</a>

    <% @property.each do |n| %>
      <div class="properties_div">
      <b class="title"><%= n.title %></b>
      <li class="prices"> £<%= n.price_per_night %> per night</li></br>
      <img class="property_image" src=<%= n.image_url %>></br>
      <b>Location:</b> <%= n.location %></br>
      <b>Description:</b></br>
      <%= n.description %></br>

      <b>Host's email:</b> <%= n.user.email %></br>
      <b>Availability:</b> <%= (n.available_from).to_s.split('-').reverse.join('/') %> - <%= (n.available_to).to_s.split('-').reverse.join('/') %></li>
      <br>
      <form action="/request_booking" method='post'>
       <input type='hidden' value='<%= n.id %>' name='property_id'/>
       <input type='submit' value="Request Booking" id='request_booking<%=n.id%>' class='button'/>
     </form>
   </div>

      <% end %>
  </div>

  </body>
</html>
