<h1> Welcome <%=@user.name%> </h1>
<form action='/log_out' method='post'>
  <input type='submit' value='Log Out'/>
</form>
<form action='/property/new' method='get'>
  <input type='submit' value='List Property'/>
</form>
<ul>
<% @property.each do |n| %>
  <b><%= n.title %></b>

  <li> <%= n.description %></li>
  <li> <%= n.price_per_night %></li>
  <li> <%= n.location %></li>
  <li>Host's email: <%= n.user.email %></li>
  <li> <%= (n.available_from).to_s.split('-').reverse.join('/') %></li>
  <li> <%= (n.available_to).to_s.split('-').reverse.join('/') %></li>
  <li> <img src="<%= n.image_url %>"> </li>
  <br>
  <form action="/request_booking" method='post'>
    <input type='hidden' value='<%= n.id %>' name='property_id'/>
    <input type='submit' value="Request Booking" id='request_booking<%=n.id%>'/>
  </form>
  <% end %>

</ul>
