<h1> Welcome <%=@user.name%> </h1>
<form action='/log_out' method='post'>
  <input type='submit' value='Log Out'/>
</form>
<form action='/property/new' method='get'>
  <input type='submit' value='List Property'/>
</form>
<li>
<% @property.each do |n| %>
  <%= n.title %>
  <%= n.description %>
  <%= n.price_per_night %>
  <%= n.location %>
  <%= n.available %>
  <% end %>

</li>
