<h1> Welcome <%=@user.name%> </h1>
<form action='/log_out' method='post'>
  <input type='submit' value='Log Out'/>
</form>
<form action='/property/new' method='get'>
  <input type='submit' value='List Property'/>
</form>
<ul>
<% @property.each do |n| %>
  <b><%= n.title %></b></li>
  <li> <%= n.description %></li>
  <li> <%= n.price_per_night %></li>
  <li> <%= n.location %></li>
  <li> <%= n.available %></li>
  <li>Host's email: <%= n.user.email %></li>
  <br>
  <form action="/request_booking" method='post'>
    <input type='hidden' value='<%= n.id %>' name='property_id'/>
    <input type='submit' value="Request Booking"/>
  </form>
  <% end %>

</ul>
